$lt-gray: #ddd;
$background-dark: #2d50a8;
$background-light: #2f66d4;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin:  auto;
  padding: $pad-up-down $pad-left-right;
}

.jumbotron {
  @include zero-margin(70px,30px);
  background: $background-light ;
  color:floralwhite;
  min-height: 150px;
}
